{% extends "base.html" %}


{% block content %}
<h3>Hello Foodtruck Fan! Please review your foodtruck menu item below!!</h3>
  <!-- Insert table of pictures here -->
  <body>
  
    <caption> <b>Your favorite Foodtruck meals! </b> </caption>
    <br>
    <br>   
        <!-- for loop, iterate through query paramater from python script -->
        {% for elements in query %} 
            <table class = "menu_table" border ="3" cellpadding="5" cellspacing="5" bordercolor="black" bgcolor="#F48FB1">
              <tr> <th> Truck Name </th> </tr>
              <tr> <td> {{ elements.truck_name  }} </td> </tr>
            <br>
            <br>
              <tr> <th> Menu Item </th> </tr>
              <tr> <td> <pre> {{ elements.recipe_name }} </pre> </td> </tr>
            <br>
            <br>
              <tr> <th> Service Type </th> </tr>
              <tr> <td> <pre>  {{ elements.service_type  }} </pre>  </td> </tr>
            <br>
            <br>              
              <tr> <th> Ingredient List </th> </tr>
              <tr> <td> </pre>  {{ elements.ingredient_list  }} </pre>  </td> </tr>
            <br>
            <br>
              <tr> <th> Allergens </th> </tr>
              <tr> <td> </pre>  {{ elements.allergens  }} </pre>  </td> </tr>
            <br>
            <br>
              <tr> <th> Picture </th> </tr>
              <tr> <td><img src={{ elements.picture_link }} alt="picture" height="325" width="325"> </td> </tr>
            <br>
            <br>
              <tr> <th> Pack List </th> </tr>
              <tr> <td> <pre>  {{ elements.pack_list  }} </pre>  </td> </tr>
            <br>
            <br>
              <tr> <th> Chef's Notes </th> </tr>
              <tr> <td> <pre>  {{ elements.chef_notes  }} </pre>  </td> </tr>
            <br>
            <br>
            <tr>  <th bgcolor="#2196F3">   </th>  </tr>

          </table>

          <br>
          <br>
        {% endfor %}

  
  </body>
    <br>
  <form action="/who's gonna handle this?" method ="get">
    <label> <h1> Please Select another Food Truck </h1>
    </label>
    <br>
    <select name = "foodtruck_name">
      <option selected="selected">Please select ...</option>
      <option value="The Farm Box"> The Farm Box </option>
      <option value="Old World"> Old World </option>
      <option value="Bubba Bing"> Bubba Bing </option>
      <option value="NY Delhi"> NY Delhi </option>
      <option value="Mobile Masala"> Mobile Masala </option>
      <option value="El Cubanito"> El Cubanito </option>
      <option value="Ghee on The Go"> Ghee on The Go </option>
      <option value="Adobo A-gogo"> Adobo A-gogo </option>
      <option value="Casera"> Casera </option>
      <option value="County Line"> County Line </option>
      <option value="Jalan Jalan"> Jalan Jalan </option>
      <option value="Mise En Place"> Mise En Place </option>
      <option value="Koko's"> Koko's </option>
      <option value="Miko Miko"> Miko Miko </option>
      <option value="Taco Titans"> Taco Titans </option>
      <option value="Coffee Truck"> Coffee Truck </option>
      <option value="319"> 319  </option>
      <option value="320"> 320 </option>
      <option value="321"> 321 </option>
    </select>
    <br>
    <br>
    <input type="submit" value="Submit">  
</form>
  <br>
  <br>

{% endblock %}